.main-area {
  flex-basis: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  padding-top: 30px;
  // align-items: center;
  .img-and-name {
    flex-basis: 300px;
    height: 300px;
    background-color: blue;
    margin-right: 10px;
    img {
      width: 100%;
      height: 90%;
    }
  }
  .songs-list {
    flex-basis: 60%;
    background-color: rgba(255, 255, 255, 0.637);
    height: 80%;
    position: relative;
    .header {
      position: absolute;
      top: 0;
      left: 0;
      height: 30px;
      width: 100%;
      display: flex;
      border-bottom: 1px solid lightgrey;
      span {
        padding: 0 20px;
        display: inline-block;
        height: 100%;
        display: flex;
        align-items: center;
        border-right: 1px solid lightgray;
      }
      span:nth-child(1) {
        flex-basis: 10%;
      }
      span:nth-child(2) {
        flex-basis: 80%;
      }
      span:nth-child(3) {
        flex-basis: 10%;
        border: none;
      }
    }
    .content {
      height: 100%;
      padding-top: 30px;
      display: flex;
      cursor: pointer;
      div {
        border-right: 1px solid lightgrey;
        div {
          border: none;
          margin: 5px 0;
          padding: 0 20px;
        }
      }
      div:nth-child(1) {
        flex-basis: 10%;
      }
      div:nth-child(2) {
        flex-basis: 80%;
      }
      div:nth-child(3) {
        flex-basis: 10%;
        border: none;
      }
    }
  }
}
