.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 20%;
  button {
    display: block;
    margin: 0 5px;
    color: white;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    img {
      width: 100%;
      height: 100%;
    }
    &:nth-child(3) {
      width: 40px;
      height: 40px;
    }
  }
}
